<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/login.css"/>
    <title>Title</title>
</head>
<style>
    .no{
        position:absolute;
        z-index:2;
        left:calc(50% - 200px);
        top:calc(50% - 65px);
        height: 30px;
        width: 400px;
        border: 1px solid #17191869;
        background-color:#00b5f999;
        text-align: center;
        color: red;
        font-family: "楷体";
        font-size: 25px;
    }
</style>
<body style="height:100%;width:99%;">
<div>
    <div class="no">你无权访问此页面!</div>
</div>
</body>
</html>